<header>
    <img src="assets/gustavo.jpeg" alt="Gustavo Dias Rocha - Foto de perfil" srcset="" width="130px" height="130px"
        loading="eager">
    <h1>Gustavo Dias Rocha</h1>
</header>

<aside>
    <div class="container">
        <p> Front-End Developer | Angular | NodeJs | Flutter | Php | Laravel</p>
        <p>Brasilia, Distrito Federal, Brasil</p>
        <p>Estou na area de desenvolvimento de software há mais ou menos 3 anos. Trabalhando com ReactJs e Angular e me
            aperfeiçoando na stack JS pois atua no Backend/ FrontEnd </p>
    </div>
    <nav>
        <ul>
            <li><a href="assets/pdf/Currículo (1).pdf" target="_blank" class="btn btn-primary">
                    Download Cv
                </a></li>
            <li><a href="https://www.linkedin.com/in/gustavo-dias-rocha-8317861b5/" target="_blank"
                    class="btn btn-secondary">
                    LinkedIn
                </a></li>
        </ul>
    </nav>
    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" alt="whatsapp-icon">
            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=556199175840&text=Ol%C3%A1%20Gustavo,%20preciso%20de%20um%20%20job!"
                    target="_blank">
                    <strong>Envie uma menssagem para:</strong>
                    <p>Whatsapp: (61) 9 9517-5840</p>
                </a>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/icons/mail.svg" alt="email-icon">
            <figcaption>
                <a href="emailto:gustavodeveloper07@gmail.com" target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>gustavodeveloper07&#64;gmail.com</p>
                </a>
            </figcaption>
        </figure>
    </section>
</aside>